<title>NE 491 Glow Discharge</title>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link href="frontend.css" rel="stylesheet" type="text/css" />
<link href="lightbox.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<div class="feheader">
	<%= image_tag("glowheader.jpg") %>
</div>





<h2><center>Glow Discharge Formation and Analysis</center></h2>
<div class="body">
The secondary electron emission coefficient (SEEC) is a value of significant interest to the plasma research community. It is the purpose of this experiment to establish an equation which can be used to correlate the SEEC with any combination of pressure, previously tabulated gas properties, geometries and their polarity (anode/cathode setup). Traditionally, such data has been tabulated using only aluminum plates assuming an average electric field. This experiment aims to broaden the available data on SEEC in terms of the many other properties upon which it is dependent.

</div>
