<div class="instructions">
<p>Record data for pressure values evenly spaced through the range 100 mTorr to 1300 mTorr (about 25 points). The next suggested pressur will appear below each new datum entry. Take approximately 25 points of data.</p>

Note: If the measured amperage exceeds 25 mA at any time, record necessary values as quickly as possible and then drop the voltage immediately. Prolonged exposure to large currents can damage the electrodes.
</div>