<script type="text/javascript">
$(document).ready(function(){

  

  // Event Binding to the inputs
  $("input").live("blur", function() {
    if (this.previous_value == $(this).val())
      return;
    //if ($(this).val() == "")
      //return;
    upload_input_line(this);
    process_page();
    this.previous_value = $(this).val();
    suggest_pressure();
  });

  append_input_line();
  suggest_pressure();

  function upload_input_line(node){
    $(node).css("background-color","#FF0");
    $.ajax({
      type:"POST",
      url:"<%= datum_update_path %>",
      data:{
        dataset_id:$(node.parentNode.parentNode).attr("id"),
        datum_id:$(node.parentNode).attr("id"),
        datum_type:$(node).attr("class"),
        datum_value:$(node).val()
      },
      success:function(response,status){
        $(node).css("background-color","#9F9");
        $(node.parentNode).attr("id",response);
      },
      error:function(){
        $(node).css("background-color","#F99");
      }
    });
  }

  function append_input_line(){
    $("div.input_line_container").append(render_new_line());
  }

  function suggest_pressure(){
    var num_points = $("div.input_line").length-1;
    var suggested_pressure = num_points*(1300.0-100.0)/25.0+100.0;
    $("div.pressure_suggestion").first().html("Suggested pressure: "+String(suggested_pressure));
  }

  function render_new_line(){
    string = '<div class="input_line" >';
    string += $("div.input_line").length+1
    string += "."
    string += '<input class="pres" size="10" placeholder="Pressure" type="text" />';
    string += '<input class="volt" size="10" placeholder="Voltage" type="text" />';
    string += '<input class="amps" size="10" placeholder="Amperage" type="text" />';
    string += '<input class="dark" size="10" placeholder="Darkspace" type="text" />';
    string += '</div>'
    return string;
  }

  function process_page(){
    if(last_line_not_empty())
      append_input_line();
  }

  function last_line_not_empty(){
    return $("div.input_line").last().children('input').is( function(i) {
      var input_box = $("div.input_line").last().children('input')[i];
      if($(input_box).val() != "")
        return true;
      return false;
    });
  }

});
</script>