<div class="span-24 footer round">
<div style="float:right;">
 	<div class="innerfooter">
		<%= image_tag("logo2.jpg") %>
	</div>
</div>
<p style="margin:0px;font-size:.9em;span-22;">&copy;2012 Casper Holmgreen, Dr. Bourham, and all of the NE 491 group
</p>

</div>