<h1>Create new news item</h1>
<%= form_for @news_item do |f| %>
<div class="field">
  <%= f.label :text %><br />
  <%= f.text_area :text %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>