/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$header_color: #ddd;

.round {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

.header {
  background-color:$header_color;
  padding:8px;
  margin:8px;
}

.footer {
  background-color:$header_color;
  padding:8px;
  margin:8px;
}

.group_links {
  margin:4px;
  padding:8px;
  background-color:#eee;
}

.instructions {
  background-color:#f5f5f5;
  padding:4px;
  margin-bottom:16px;
}